.btn-squar-default{
    height: 100px !important;
    width : 400px !important;
}

.clue-board{
    height: 400px !important;
    width : 400px !important;
}

@media screen and (max-width: 40em) {
    .btn-squar-default{
        height: 100px !important;
        width : 320px !important;
    }
    .clue-board{
        height: 300px !important;
        width : 300px !important;
    }
}