
#main{
    margin-bottom: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 480px 480px;
    justify-content: center;
}

#main div:nth-child(1){
    justify-content: center;
}

#main div:nth-child(2){
    justify-content: center;
}

#clueBoard{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-self: center;

}
#pictureBoard{
    margin-top: 30px;
    align-self: center;
    justify-self: center;

}

@media screen and (max-width: 60em){
    #main{
        grid-template-columns: auto;
        grid-template-rows: repeat(2,auto);
    }

}